<div id="post">
<% @posts.each do |post| %>
<figure class="figure">
  <!-- <img src="..." class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->

  <%= link_to (image_tag post.image.url), post, class: "figure-img img-fluid rounded" %>
  <figcaption class="figure-caption text-left">
      <%= post.description %> 
      <%= link_to "X", post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger float-right", style: "border-radius:50%; height: auto; margin-bottom: 10px; background-color:#aa9888; color: cornsilk; border: 0px;" %>
  </figcaption>
</figure>
 <% end %> 
</div>



