<!-- <h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p> -->
<%= @post.description %>
<br>
<%= image_tag(@post.image.url(:medium)) %>
<%= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
