/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */

@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 54px;
  background-color: #e2d1c3;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#post figure {
  width: 620px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  background-color: cornsilk;
  margin-bottom: 50px;
  border-radius: 3px;
}

#post figcaption {
  padding: 10px;
}

#post img {
  max-width: 100%;
  height: auto;
}

#btn-theme .btn:hover {
  background-color: #635346 !important; 
  border-color: #635346;
}

.navbar {
  background-color: #635346;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

#form .panel {
  width: 30rem;
  background-color: cornsilk;
  padding: 30px;
  border-radius: 3px;
  margin: auto;
}

.flash {
  background-color: #aa9888;
  border-radius: 6px;
  width: 30%;
  text-align: center;
}

#form-error .alert {
  width: 30rem;
  padding: 14px;
  margin-bottom: 18px;
  text-align: left;
}

/*fix for gravatar image size bcoming oval for not squared images*/
/*make sure to also set size of gravatar double times the width and height so it won't become pixelated*/
.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /*border: 3px solid black;*/
}

.listing {
  list-style: none;
  padding-left: 0;
}

.listing .card {
  border: 0;
  width: 30rem;
}

.dropdown-item:hover {
  background-color: #635346;
}