<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Mark Hermano 2018, All Rights Reserved
    </small>
    <nav>
      <ul>
        <li><a href="https://hermanomark.github.io/" target="_blank">About</a></li>
      <ul>
    </nav>
  </footer>
</div>